root = true

[*]
end_of_line = lf
charset = utf-8

[*.{md, markdown, eex}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
insert_final_newline = true
